:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.added-words {
}

.added-word {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.added-word button {
  font-size: 1.5rem;
  border: 1px solid #213547;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  background-color: #ffffff;
}

.added-word.highlighted button {
  background-color: yellow;
}

.filter {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 0.5rem;
}

.location {
  border: 1px solid black;
  margin: 4px;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  text-align: left;
  vertical-align: top;
  padding: 0;
  position: relative;
}

.location.on {
  background-color: lightgray;
}

.location.added {
  background-color: lightblue;
}

.location.highlighted {
  background-color: yellow;
}

.location.off.searched {
  border: 5px solid red;
  margin: 0;
}

.location.on.searched {
  border: 5px solid green;
  margin: 0;
}

.location .index {
  margin: 0;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  padding: 0.25rem;
  color: black;
  height: 0.75rem;
  width: 0.75rem;
  font-size: 0.5rem;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
}
